html, body {
	background: #000 ;
	font-family: "Cinzel Decorative";
	margin: 0px;
  padding-top: 55px;
}
.slide-image{
  max-width: 800px;
  max-height: 300px;
  width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.img {
    margin-right:  36px;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.container{
  margin: 5px;
  width: 95%;
}
.row{
  margin-right:5px;
}
.left{
  float: right;
}
footer {
    margin: 50px 0;
  }
